<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enviar Correo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="form-container">
    <h1 class="title">Email Sender</h1>
    <form class="formulario" action="/send_email" method="post">
        <div id="email-fields">
            <label for="email">Correos Electrónicos:</label>
            <input type="email" name="email" required>
        </div>
        <br>
        <label for="subject">Asunto:</label>
        <input type="text" id="subject" name="subject" required>
        <br>
        <label for="message">Mensaje:</label>
        <textarea id="message" name="message" required></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
</div>
</body>
</html>


